html {
  font-size: 16px;
}

.App {
  text-align: right;
  margin-bottom: 0.5em;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #005d76;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.6rem;
  font-family: Arial Black;
  text-align: left;
}

.App-intro {
  font-size: 1.6rem;
  font-family: Arial Black;
  color: #4cc1ae;
  text-align: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
